/* fonts*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*h1 font*/
#head1{
    font-family: 'Pacifico',cursive;
}
#head2{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}
#head3{
    font-family: 'Bree Serif', serif;
}

#bold{
    font-weight: bolder;
}

/* font */


/* btn */

#srch-term{
    border:4px solid darkcyan;
    border-radius: 0px;
    border-right: 0px;
    height: 20%;
}

#srch-btn{
    border:4px solid darkcyan;
    border-radius: 0px;
    border-left: 0px;
}

/*end of btn */

/* heading */

#logo > a{
    font-family: 'Pacifico', cursive;
    color: darkcyan;
}


@media (max-width: 1200px), (min-width:1200px){

    #unopacity{
    margin-top: -65px;
    }

    .navbar-nav>li{
     background-color: none;
     width: 20%;
     text-align: center;
    }

   .navbar-nav>li>a{
    font-size: 14px !important;
   }

   #roomAndServices-drop{
    margin-top: 13px;
    margin-left: 6px;
   }
    .navbar-nav>li>a{
    font-size: large;
    color:#FFF;
    font-weight: bolder;
    text-transform: uppercase;
    transition:color 0.8s !important;
    }
    
    .navbar-nav>li>a:hover{
        font-size: large;
        color:darkcyan !important;
    }

 }

@media screen and (max-width: 992px){
   .navbar-nav>li>a{
    font-size: 10px !important;
   }

   .navbar-nav>li{
     background-color: none;
     width: 20%;
     text-align: center;
    }
    

   #roomAndServices-drop{
    margin-left:-2px;
   }

    .navbar-nav>li>a{
    font-size: large;
    color:#FFF;
    font-weight: bolder;
    text-transform: uppercase;
    transition:color 0.8s;
    }
    
    .navbar-nav>li>a:hover{
        font-size: large;
        color:darkcyan;
    }
 }

 @media (max-width: 768px){

    #unopacity{
    margin-top: -45px;
    }

   .navbar-collapse{
     margin-top: 10px;
     background-color:#222;
     opacity: 0.8;
    }

    .navbar-nav>li{
    border-right: 0px !important;
    width: 100% !important;
    }

   .navbar-nav>li>a{
    font-size: 14px !important;
   }

 }


header{
    height: 500px;
    box-shadow: 1px 5px 10px -2px #222;
}

#opacity{
    background-color:#222;
    height: 75px;
    opacity: 0.8;
}

#roomAndServices-drop{
    background-color: darkcyan;
}
#roomAndServices-drop > li > a {
    color: #FFF;
}

#roomAndServices-drop > li > a:hover {
    color: #222;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav>li:first-child{
    border-right: 1px solid #FFF; 
}

.navbar-nav>li{
    border-right: 1px solid #FFF; 
}

.navbar-nav>li:last-child{
    border-right: 0px; 
}

.navbar-nav>li{
   background-color: none;
   text-align: center;
}

.navbar-nav>li:hover{
   background-color: none;

}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    background-color: transparent;
    color:orange;
} 



.navbar-nav>li>a:visited{
    font-size: large;
    color:#FFF;
}


.navbar-toggle{
    margin-top: -10px;
    border:1px solid darkcyan;
}
.icon-bar{
    border:1px solid darkcyan;
}

/* end-of-heading */

/* body */

#home-content{
    margin-top: -30px;
    background-color: #FFF;
}

#three-container{
    margin-top: -20px;
}

#three-container > div#box-container:last-child > div#three-info {
    border-right: 0px;
}

#three-info{
   background-color: #FFF;
   padding-bottom: 20px;
   background-color: #065058;
   border-right: 1px solid #FFF;
}

#three-box-button{
    margin-bottom: 0px;
    border-radius: 0px;
    border:4px solid #FFF;
    background-color: darkcyan;
    color:#FFF;
    transition:background-color 0.6s ease;
}

#three-box-button:hover{
    background-color: #065058;
}

#three-box > h3{
 font-family: 'Fugaz One', cursive;
 color: #FFF;
}

#three-box > h4{
    color:rgb(65, 243, 243);
}

#three-box > p{
    color:#EEE;
}

#wcuts{
    background-color: rgb(205, 251, 251);
    border-bottom: 1px solid #AAA;
    margin-top: 0px;
    padding-bottom: 40px;
}

#wcup > h5 {
    text-transform: uppercase;
    font-weight: bolder;
}
#wcup > p{
   padding-left: 15px;
}

#service > img {
    height: 170px;
    word-wrap: break-word;
}


#lwa {
    background-color: ;
}

#latest > div {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: dashed 1px #AAA;
}
div#latest div.col-lg-12:last-child {
    border-bottom: 0px;
}

#welcome{
    border-right: 1px solid #AAA;
    border-left: 1px solid #AAA;
}

#act{
    position: relative;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#act-text {
    margin-top: -10px;
    padding-top: 10px;
    padding-left: 15px;
}

/* end-body */


/* footer */

#logobuttom > a{
    font-family: 'Pacifico', cursive;
    color: #FFF;
}

#foot{
    margin-top: 20px;
    padding-bottom: 80px;
    border-top: 4px solid #BBB;
    background-color: #1B1B1B;
}


.follow{
    color:#008B8B;
}

#google{
    color:rgb(214, 51, 51);
}

#fb{
    color: #3A5795;
    
}
#twitter{
    color: #55ACEE;
    
}


/* end footer */

